@charset "utf-8";

/* 헤더 영역 */
header {
  position: fixed;
  margin: 4rem 0 0 4rem;
  z-index: 3;
}

h1 a {
  display: block;
  width: 200px;
  height: 20px;
  margin: 0 0 4rem 0;
}

h1 a img {
  position: absolute;
}

nav ul li {
  position: relative;
  display: table;
  padding: 0 10px 15px 0;
  cursor: pointer;
}

nav ul li a {
  font: 1rem "mobiles";
  color: #fff;
  margin: 12px 40px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

nav ul li.scroll a {
  color: #222;
}

nav ul li::before {
  content: "";
  display: inline-block;
  position: absolute;
  z-index: -1;
  background: transparent;
  border: 1px dotted #fff;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  transition: background 0.5s, width 0.5s;
  transition-delay: 0.5s 0;
}

nav ul li:hover::before {
  background: #000;
  border: transparent;
  transition-delay: 0s, 0s;
  width: 100%;
}

nav ul li.scroll::before {
  border: 1px dotted #e7551a;
}

nav ul li.scroll:hover::before {
  background: #e7551a;
}

nav ul li::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 12px;
  left: 10px;
  z-index: 0;
  width: 6px;
  height: 6px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
  transition: 0.5s;
  transition-delay: 0.5s;
}

nav ul li:hover::after {
  left: 15px;
  transform: rotate(45deg) scale(1.5);
  transition-delay: 0s;
}

nav ul li.scroll::after {
  border-top: 2px solid #222;
  border-right: 2px solid #222;
  transition-delay: 0s;
}

.service_area {
  margin: 4rem 0 0 0;
}

.service_area span {
  display: block;
  cursor: pointer;
  margin: 10px 0;
}

/* 메인 비주얼 슬라이드 */
.wrap {
  background: #e7551a;
}

.wrap .content {
  position: relative;
  width: 100%;
  height: auto;
}

.wrap .content img {
  width: 100%;
}

.wrap .content .item {
  width: 60%;
  position: absolute;
  top: 35%;
  left: 40%;
  opacity: 0;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.wrap .content.scroll .item {
  opacity: 1;
}

.wrap .content .item .title {
  position: absolute;
  display: block;
  font: 2.5rem "mobiles";
  line-height: 1.3;
}

.wrap .content .item .titlePaint:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 1px #fff;
}

.wrap .content .item .title:nth-child(2) {
  color: #fff;
  animation: titlePaint 4s linear infinite;
}

@keyframes titlePaint {
  0% {
    clip-path: polygon(
      0 42%,
      17% 48%,
      28% 54%,
      40% 57%,
      52% 59%,
      66% 57%,
      79% 54%,
      91% 51%,
      100% 49%,
      100% 100%,
      0% 100%
    );
  }
  50% {
    clip-path: polygon(
      0 67%,
      14% 59%,
      29% 52%,
      42% 51%,
      55% 55%,
      68% 61%,
      81% 63%,
      91% 58%,
      100% 53%,
      100% 100%,
      0% 100%
    );
  }
  100% {
    clip-path: polygon(
      0 42%,
      12% 50%,
      26% 58%,
      40% 61%,
      55% 55%,
      71% 51%,
      83% 56%,
      92% 63%,
      100% 70%,
      100% 100%,
      0% 100%
    );
  }
}

.wrap .content .item .title:nth-child(3) {
  color: #fff;
  top: 60px;
}

.wrap .content .item .moreBtn {
  font: 0.85rem "Noto Sans";
  text-decoration: underline;
  position: absolute;
  top: 140px;
  padding: 0 0 0 15px;
}

.wrap .content .item .moreBtn:before {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: 2px;
  width: 2px;
  height: 8px;
  background: #000;
  transform: rotate(-45deg);
}

.wrap .content .item .moreBtn:after {
  content: "";
  display: block;
  position: absolute;
  top: 8px;
  left: 2px;
  width: 2px;
  height: 8px;
  background: #000;
  transform: rotate(45deg);
}

/* type4 */
.item4_wrap {
  width: 100%;
  padding-bottom: 12.5rem;
  background: #ddd;
  overflow: hidden;
  position: relative;
}

.item4_wrap .item4_content,
.item5_wrap .item5_content {
  width: var(--contentWidth);
  padding: var(--contentPadding);
}

.item4_wrap .item4_content .intro_title {
  margin-bottom: 5rem;
  font: 2.5rem "Noto Sans";
  color: #e7551a;
  position: relative;
  z-index: 2;
}

.item4_wrap .item4_content .main_product:after {
  content: "";
  display: block;
  clear: both;
}

.item4_wrap .item4_content .main_product li {
  width: 13rem;
  float: left;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.item4_wrap .item4_content .main_product li img {
  width: 100%;
  position: relative;
}

.item4_wrap .item4_content .main_product li:hover::before,
.item4_wrap .item4_content .main_product li:hover .img_hover {
  display: block;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.item4_wrap .item4_content .main_product li::before {
  content: "";
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(22, 22, 22, 0.78);
  z-index: 1;
}

.item4_wrap .item4_content .main_product li .img_hover {
  display: none;
  position: absolute;
  left: 2vw;
  right: 2vw;
  top: 0;
  padding-top: 65%;
  z-index: 2;
  font-style: "Noto Sans";
  color: #fff;
}

.item4_wrap .item4_content .main_product li .img_hover p {
  font-size: 0.8rem;
  position: relative;
}

.item4_wrap .item4_content .main_product li .img_hover p::before {
  content: "";
  display: block;
  position: absolute;
  top: -1vw;
  width: 0%;
  height: 3px;
  background: #fff;
}

.item4_wrap .item4_content .main_product li .img_hover:hover p::before {
  width: 100%;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.item4_wrap .item4_content .main_product li .img_hover p span {
  font-size: 0.7rem;
}

.item4_wrap .item4_content .main_product li .img_hover i {
  position: absolute;
  top: 2.5vw;
  right: 0;
  font-size: 0.8rem;
}

.item4_wrap .item4_moveText p {
  position: absolute;
  z-index: 1;
  font: 10rem "mobiles";
  color: #fff;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.item4_wrap .item4_moveText p:nth-child(1) {
  left: 0;
  top: 40%;
  transform: translateY(-40%);
}

.item4_wrap .item4_moveText p:nth-child(2) {
  left: 200px;
  top: 60%;
  transform: translateY(-60%);
}

.item4_wrap .item4_moveText.scroll p:nth-child(1) {
  left: 500px;
}

.item4_wrap .item4_moveText.scroll p:nth-child(2) {
  left: -500px;
}

/* type5 */
.item5_wrap {
  width: 100%;
  padding-bottom: 12.5rem;
}

.item5_wrap .item5_content .item5_title {
  margin-bottom: 1rem;
}

.item5_wrap .item5_content .item5_title p {
  font: 1.5rem "mobiles";
}

.item5_wrap .item5_content .item5_title span {
  font: 0.7rem "Noto Sans";
  color: #e7551a;
}

.item5_wrap .item5_content .submit:after {
  content: "";
  display: block;
  clear: both;
}

.item5_wrap .item5_content .submit .submit_info .fas {
  width: 1rem;
  height: 1rem;
  margin: 0 0.5rem 1rem 0;
  text-align: center;
}

.item5_wrap .item5_content .submit .submit_info span {
  font: 0.7rem "Noto Sans";
  line-height: 1;
}

.item5_wrap .item5_content .submit .submit_user {
  margin: 2rem 0 0 0;
}

.item5_wrap .item5_content .submit .submit_user input,
.item5_wrap .item5_content .submit .submit_user textarea {
  border: 1px solid #e7551a;
  margin-bottom: 1rem;
  padding: 10px 10px;
}

.item5_wrap .item5_content .submit .submit_user textarea {
  resize: none;
}

.item5_wrap .item5_content .submit .submit_user button {
  width: 7.5rem;
  height: 2.5rem;
  background: #e7551a;
  color: #fff;
  cursor: pointer;
}

/* footer */
footer {
  background: url(images/호박_야외배경.jpg) center no-repeat;
  width: 100%;
  height: 100%;
  padding: 7rem 0;
  text-align: center;
  position: relative;
}

footer::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  background: #e7551a;
  opacity: 0.7;
  z-index: 0;
}

footer .footer_wrap {
  position: relative;
  z-index: 1;
}

footer a {
  display: block;
  width: 5rem;
  margin: 0 auto;
  padding-bottom: 2rem;
}

footer a img {
  width: 100%;
}

footer .footer_title {
  color: #fff;
  font: bold 0.7rem "Noto Sans";
  text-decoration: underline;
  margin-bottom: 0.8rem;
}

footer .footer_company ul li,
footer .footer_call .footer_call_sns span,
footer .footer_call .footer_call_sns a {
  display: block;
  padding: 0.5rem 0;
  font: 0.7rem "Noto Sans";
  color: #fff;
}

footer .footer_call {
  margin-top: 2rem;
}
